*{
    margin:0;
    padding:0 ;
    background-color:#101218;

    font-family: "Poppins", sans-serif;

}
.outerdiv{
    height: 50px;
    width: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 6px 6px; 
    gap: 0px;
    
   
}
a{
    color: white;
    text-decoration: none;
   font-size: small;
   flex-direction: row;
}
.About{
    margin-left: 15px ;
    margin-right: 5px;
    padding: 5px;
    height: 16px;
    width: 35px;
    flex-grow: 3;
    position: absolute;
    top: 20px;

}
.store{
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    height: 16px;
    width: 35px;
    position: absolute;
    left: 80px;
    top: 20px;
}
#flask{
    color: white;
    position: absolute;
    left: 1320px;
    top: 20px;
    cursor: pointer;
}
.Gmail{
    position: absolute;
    left: 1200px;
    height: 24px;
    width: 35px;
    top: 20px;
}
.images{
    position: absolute;
    left: 1250px;
    top: 20px;
    padding: 0px 15px;
   

}
#grid{
    color: white;
    padding: 4px;
    position: absolute;
    left: 1350px;
    top: 10px;
    cursor: pointer;
}
.profile img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-size: cover;
    border: 2px solid black;
    position: absolute;
    left: 1420px;
    top: 13px;
    cursor: pointer;
}
a:hover{
    text-decoration: underline;
}
.google img{
    position: absolute;
    top: 180px;
    height: 92px;
    width: 270px;
   align-items: center;
   justify-content: center;
   left: 600px;

}
.searchbar{
    height: 50px;
    width: 600px;
    background-color: #424654;
    border-radius: 70px;
    position: absolute;
    top: 300px;
    left: 430px;
    font-size: 50px;
}
#search{
    position: absolute;
    top: 310px;
    left: 440px;
    background-color: #424654;
    color: white;
}
#mic{
    position: absolute;
    top: 310px;
    left: 960px;
    background-color: #424654;
    color: white;
}
#camerafocus{
    position: absolute;
    top: 310px;
    left: 990px;
    background-color: #424654;
    color: white;
}
.btn1{
    color: white;
    height: 20px;
    width: 120px;
    border-radius: 5px;
    position: absolute;
    top: 370px;
    left: 570px;
   text-align: center;
   padding: 0px 16px;
    margin-top: 2px;
    background-color: #424654;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 11px;
    margin-bottom: 11px;
    padding-top: 10px;
    padding-left: 0px;
    padding-bottom: 5px;
    font-size: small;

}
.btn2{
    color: white;
    height: 20px;
    width: 120px;
    border-radius: 5px;
    position: absolute;
    top: 370px;
    left: 720px;
    background-color: #424654;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 11px;
    margin-bottom: 11px;
    padding: 0px 16px;
    font-size: small;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    text-align: center;
}
.btn1:hover{
    border: 0.5px solid#999da9 ;
    cursor: pointer;
}
.btn2:hover{
    border: 0.5px solid#999da9 ;
    cursor: pointer;
}
.bottom{

    position: absolute;
   height: 20px;
   width: 96%;
   top: 680px;
   left: 0px;
   padding: 15px 30px;
  color:#ececec;
    background-color: #1f2128;
  border-bottom: 0.2px solid grey ;
  
}
.footer{
     position: absolute;
     height: 20px;
     width: 97%;
     top: 731px;
     padding-left: 20px;
     padding-right: 20px;
     background-color:#1f2128 ;
     display: flex;
     flex-direction: row;
     left: 0px;
     
}
.Advertising{
    position: absolute;
    height: 16px;
    background-color: #1f2128;
    padding: 15px;
    left: 1px;
    top: 1px;
    width: 70px;
}
 .Business{
    position: absolute;
    background-color: #1f2128;
    height: 16px;
    left: 100px;
    top: 1px;
    padding: 15px;
    width: 57px;
}
.HowSearchworks{
    position: absolute;
    background-color: #1f2128;
    padding: 15px;
    left: 170px;
    top: 1px;
    width: 1100px;
    height: 16px;

} 
.Privacy{
    position: absolute;
    background-color: #1f2128;
    padding: 15px;
    left: 1256px;
    top: 1px;
    height: 16px;
    width: 47px;
   
}
.Terms{
    position: absolute;
    background-color: #1f2128;
    padding: 15px;
    left: 1325px;
    top: 1px;
    height: 16px;
    width: 38px;
}
.Settings{
    position: absolute;
    background-color: #1f2128;
    padding: 15px;
    left: 1390px;
    top: 1px;
    height: 16px;
    width: 50px;
}